<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="add-form">
  <h2>Lisää uusi henkilötieto</h2>
  <div>
    <label for="nimi">Nimi:</label>
    <input type="text" id="nimi" formControlName="nimi">
  </div>
  <div>
    <label for="henkilotunnus">Henkilötunnus:</label>
    <input type="text" id="henkilotunnus" formControlName="henkilotunnus">
  </div>
  <div>
    <label for="osoitetiedot">Osoitetiedot:</label>
    <input type="text" id="osoitetiedot" formControlName="osoitetiedot">
  </div>
  <div>
    <label for="kansalaisuus">Kansalaisuus:</label>
    <input type="text" id="kansalaisuus" formControlName="kansalaisuus">
  </div>
  <div>
    <label for="aidinkieli">Äidinkieli:</label>
    <input type="text" id="aidinkieli" formControlName="aidinkieli">
  </div>
  <div>
    <label for="perhesuhdetiedot">Perhesuhdetiedot:</label>
    <input type="text" id="perhesuhdetiedot" formControlName="perhesuhdetiedot">
  </div>
  <div>
    <label for="syntymaJaKuolintiedot">Syntymä- ja kuolintiedot:</label>
    <input type="text" id="syntymaJaKuolintiedot" formControlName="syntymaJaKuolintiedot">
  </div>
  <div>
    <button type="submit">Tallenna</button>
  </div>
</form>

<div *ngIf="editMode" class="modal-container">
  <div class="modal-backdrop"></div>
  <div class="edit-form">
    <h2>Muokkaa tietoja</h2>
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
      <div>
        <label for="nimi">Nimi:</label>
        <input type="text" id="nimi" formControlName="nimi">
      </div>
      <div>
        <label for="henkilotunnus">Henkilötunnus:</label>
        <input type="text" formControlName="henkilotunnus">
      </div>
      <div>
        <label for="osoitetiedot">Osoitetiedot:</label>
        <input type="text" formControlName="osoitetiedot">
      </div>
      <div>
        <label for="kansalaisuus">Kansalaisuus:</label>
        <input type="text" formControlName="kansalaisuus">
      </div>
      <div>
        <label for="aidinkieli">Äidinkieli:</label>
        <input type="text" formControlName="aidinkieli">
      </div>
      <div>
        <label for="perhesuhdetiedot">Perhesuhdetiedot:</label>
        <input type="text" formControlName="perhesuhdetiedot">
      </div>
      <div>
        <label for="syntymaJaKuolintiedot">Syntymä- ja kuolintiedot:</label>
        <input type="text" id="syntymaJaKuolintiedot" formControlName="syntymaJaKuolintiedot">
      </div>
      <button type="submit">Tallenna muutokset</button>
      <button type="button" (click)="cancelEdit()">Peruuta</button>
    </form>
  </div>
</div>


<h2>Henkilötiedot</h2>

<table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Henkilötunnus</th>
      <th>Osoitetiedot</th>
      <th>Kansalaisuus</th>
      <th>Äidinkieli</th>
      <th>Perhesuhdetiedot</th>
      <th>Syntymä- ja kuolintiedot</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let henkilo of henkiloList">
      <td>{{ henkilo.nimi }}</td>
      <td>{{ henkilo.henkilotunnus }}</td>
      <td>{{ henkilo.osoitetiedot }}</td>
      <td>{{ henkilo.kansalaisuus }}</td>
      <td>{{ henkilo.aidinkieli }}</td>
      <td>{{ henkilo.perhesuhdetiedot }}</td>
      <td>{{ henkilo.syntymaJaKuolintiedot }}</td>
      <td>
        <button (click)="startEdit(henkilo)">Muokkaa</button>
        <button (click)="deleteHenkiloById(henkilo.id)">Poista</button>
      </td>
    </tr>
  </tbody>
</table>