<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <h2>Lisää uusi henkilötieto</h2>
  <div>
    <label for="nimi">Nimi:</label>
    <input type="text" id="nimi" formControlName="nimi">
  </div>
  <div>
    <label for="henkilotunnus">Henkilötunnus:</label>
    <input type="text" id="henkilotunnus" formControlName="henkilotunnus">
  </div>
  <div>
    <label for="osoitetiedot">Osoitetiedot:</label>
    <input type="text" id="osoitetiedot" formControlName="osoitetiedot">
  </div>
  <div>
    <label for="kansalaisuus">Kansalaisuus:</label>
    <input type="text" id="kansalaisuus" formControlName="kansalaisuus">
  </div>
  <div>
    <label for="aidinkieli">Äidinkieli:</label>
    <input type="text" id="aidinkieli" formControlName="aidinkieli">
  </div>
  <div>
    <label for="perhesuhdetiedot">Perhesuhdetiedot:</label>
    <input type="text" id="perhesuhdetiedot" formControlName="perhesuhdetiedot">
  </div>
  <div>
    <label for="syntymaJaKuolinTiedot">Syntymä- ja kuolintiedot:</label>
    <input type="text" id="syntymaJaKuolinTiedot" formControlName="syntymaJaKuolinTiedot">
  </div>
  <div>
    <button type="submit">Tallenna</button>
  </div>
</form>

<div *ngIf="editMode" class="edit-form">
  <h2>Muokkaa tietoja</h2>
  <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
    <div>
      <label for="nimi">Nimi:</label>
      <input type="text" id="nimi" formControlName="nimi">
    </div>
    <div>
      <label for="henkilotunnus">Henkilötunnus:</label>
      <input type="text" formControlName="henkilotunnus">
    </div>
    <div>
      <label for="osoitetiedot">Osoitetiedot:</label>
      <input type="text" formControlName="osoitetiedot">
    </div>
    <div>
      <label for="kansalaisuus">Kansalaisuus:</label>
      <input type="text"formControlName="kansalaisuus">
    </div>
    <div>
      <label for="aidinkieli">Äidinkieli:</label>
      <input type="text" formControlName="aidinkieli">
    </div>
    <div>
      <label for="perhesuhdetiedot">Perhesuhdetiedot:</label>
      <input type="text" formControlName="perhesuhdetiedot">
    </div>
    <div>
      <label for="syntymaJaKuolinTiedot">Syntymä- ja kuolintiedot:</label>
      <input type="text" formControlName="syntymaJaKuolinTiedot">
    </div>

    <button type="submit">Tallenna muutokset</button>
    <button type="button" (click)="cancelEdit()">Peruuta</button>
  </form>
</div>

<ul>
  <li *ngFor="let henkilo of henkiloList">
    {{ henkilo.nimi }}
    <button (click)="startEdit(henkilo)">Muokkaa</button>
    <button (click)="deleteHenkiloById(henkilo.id)">Poista</button>
  </li>
</ul>